<!DOCTYPE html>
<html>
  <head>
    <title>Dionisio</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <div class="titulo">
          Rio Curtição
        </div>
        <span  class="notice">
          <%= notice if notice %> </span>
        <span  class="alert">
          <%=  alert if alert %> </span>
<%#= link_to "cadastrar",new_user_registration_path  %>
      </div>

      <div class="main">
                
        <%= yield %>
       
      </div>

      <div class="footer">

      </div>
    </div>
  </body>
</html>
